/* -----------------RESETS----------------- */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --dark-text-color: #212121;
  --light-text-color: #757575;
  --wight-text-color: #fff;
  --focus-color: #2196f3;
  --dark-background-color: #2f303a;
  --light-background-color: #F5F4FA;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
.body {
  font-family: "Roboto", sans-serif;
}

/* -----------------HEADER----------------- */

.logo-link-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--dark-text-color);
}
.web {
  color: var(--focus-color);
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}
.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active {
  color: var(--focus-color);
}
.nav-list-link.current {
  color: var(--focus-color)
}
.contact-mail-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.contact-mail-header:hover,
.contact-mail-header:focus {
  color: var(--focus-color);
}
.contact-number-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.contact-number-header:hover,
.contact-number-header:focus {
  color: var(--focus-color);
}

/* -----------------HERO----------------- */

.hero {
  background-color: var(--dark-background-color);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wight-text-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--wight-text-color);
  background-color: var(--focus-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--focus-color);
}

/* -----------------HERO-BENEFITS----------------- */

.benefits {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-text-color);
}
.description-benefits {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

/* -----------------DIRECTION-ACTIVITY----------------- */

.direction-activity-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}

/* -----------------TEAM----------------- */

.team {
  background-color: var(--light-background-color);
}
.team-list-item {
  background-color: #fff;
}
.team-header {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
  background-color:
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

/* -----------------FOOTER----------------- */

.logo-link-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--wight-text-color)
}
.footer {
  background-color: var(--dark-background-color);
}
.point-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wight-text-color);
}
.point-map:hover,
.point-map:focus {
  color: var(--focus-color);
}
.contact-mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.contact-mail-footer:hover,
.contact-mail-footer:focus {
  color: var(--focus-color);
}
.contact-number-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.contact-number-footer:hover,
.contact-number-footer:focus {
  color: var(--focus-color);
}
.address-list-item:hover {
  text-decoration: underline;
}

/* -----------------PARTFOLIO-HEADER----------------- */

.portfolio-logo-link-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--dark-text-color);
}
.portfolio-nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}
.portfolio-nav-list-link:hover,
.portfolio-nav-list-link:focus,
.portfolio-nav-list-link:active {
  color: var(--focus-color);
}
.portfolio-nav-list-link.current {
  color: var(--focus-color)
}
.portfolio-contact-mail-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.portfolio-contact-mail-header:hover,
.portfolio-contact-mail-header:focus {
  color: var(--focus-color);
}
.portfolio-contact-number-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.portfolio-contact-number-header:hover,
.portfolio-contact-number-header:focus {
  color: var(--focus-color);
}

/* -----------------PARTFOLIO-HERO----------------- */

.portfolio-btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  background-color: var(--focus-color);
  color: var(--wight-text-color);
}
.portfolio-name-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-text-color);
}
.portfolio-type-projects {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

/* -----------------PARTFOLIO-FOOTER----------------- */

.portfolio-logo-link-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--wight-text-color)
}
.portfolio-footer {
  background-color: var(--dark-background-color);
}
.portfolio-point-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wight-text-color);
}
.portfolio-point-map:hover,
.portfolio-point-map:focus {
  color: var(--focus-color);
}
.portfolio-contact-mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.portfolio-contact-mail-footer:hover,
.portfolio-contact-mail-footer:focus {
  color: var(--focus-color);
}  
.portfolio-contact-number-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.portfolio-contact-number-footer:hover,
.portfolio-contact-number-footer:focus {
  color: var(--focus-color);
}
.portfolio-address-list-item:hover {
  text-decoration: underline;
}