/* -----------------RESETS----------------- */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --dark-text-color: #212121;
  --light-text-color: #757575;
  --wight-text-color: #fff;
  --focus-color: #2196f3;
  --main-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}


/* -----------------HEADER----------------- */
.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--focus-color);
}
.nav-list-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--focus-color);
}
.contact-mail-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.contact-mail-header:hover,
.contact-mail-header:focus {
  color: var(--focus-color);
}
.contact-number-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.contact-number-header:hover,
.contact-number-header:focus {
  color: var(--focus-color);
}

/* -----------------HERO----------------- */

.main-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  background-color: var(--main-background-color);
  color: var(--wight-text-color);
}
.hero-btn {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--wight-text-color);
  background-color: var(--focus-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--focus-color);
}

/* -----------------HERO-BENEFITS----------------- */

.benefits {
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-text-color);
}
.description-benefits {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

/* -----------------DIRECTION-ACTIVITY----------------- */

.direction-activity-header {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}

/* -----------------TEAM----------------- */

.team-header {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}
.team-member {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-text-color);
}
.team-position {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

/* -----------------FOOTER----------------- */

.footer {
  background-color: var(--main-background-color);
}
.point-map {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wight-text-color);
}
.contact-mail-footer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.contact-number-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.address-list-item:hover {
  text-decoration: underline;
}

/* -----------------PARTFOLIO-HEADER----------------- */

.partfolio-logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--focus-color);
}
.partfolio-nav-list-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}
.partfolio-nav-list-link:hover,
.partfolio-nav-list-link:focus {
  color: var(--focus-color);
}
.partfolio-contact-mail-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.partfolio-contact-mail-header:hover,
.partfolio-contact-mail-header:focus {
  color: var(--focus-color);
}
.partfolio-contact-number-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
}
.partfolio-contact-number-header:hover,
.partfolio-contact-number-header:focus {
  color: var(--focus-color);
}

/* -----------------PARTFOLIO-HERO----------------- */

.partfolio-btn-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.partfolio-btn-item:hover,
.partfolio-btn-item:focus {
  background-color: var(--focus-color);
  color: var(--wight-text-color);
}
.partfolio-name-projects {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-text-color);
}
.partfolio-type-projects {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

/* -----------------PARTFOLIO-FOOTER----------------- */

.partfolio-footer {
  background-color: var(--main-background-color);
}
.partfolio-point-map {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wight-text-color);
}
.partfolio-contact-mail-footer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.partfolio-contact-number-footer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}
.partfolio-address-list-item:hover {
  text-decoration: underline;
}